{% extends "dpress/base.html" %}
{% load dpressblog_tags %}

{% block contentwrapper%}
    <div class="contents">
    {% block contents %}
        contentwrapper ....
    {% endblock %}
    </div>

    <div class="sidebar">
    {% block sidebar %}
        {% block sidebar_top %}
        {% endblock %}

        {% last_post %}

        {% include "dpress/include/tags_cloud.html" %}

        {% block sidebar_bottom %}
        {% endblock %}
    </div>
    {% endblock %}

    <br style="clear: both;" />
{% endblock %}
