{% extends "dpress/ext_base.html" %}

<div class="contents">
{% block contents %}
    <div class="entry">
        <h3><a href="http://blog.yangyubo.com/missing-link-found">填补人类进化史上空白的化石</a></h3>
        <p class="meta">written by <a href="http://blog.yangyubo.com/authors/yang">yang</a>, on 5/20/09 11:48 PM.</p>

        <div class="text">
            <div class="document">
                some....
            </div>
        </div>
        <p class="related">
            Tagged as:
            <a href="http://blog.yangyubo.com/tags/darwinism">Darwinism</a>
            |
            <a href="http://blog.yangyubo.com/missing-link-found#comments">0 comments</a>

        </p>
    </div>

    <div class="pagination">
        <span class="disabled prev">? Previous</span> · <strong>1</strong> · <a href="http://blog.yangyubo.com/page/2" class="next">Next ?</a>
    </div>
{% endblock %}
</div>
