<script type="text/javascript" src="{{ SYNTAXHIGHLIGHTER_JS_URL }}scripts/shCore.js"></script>
<script type="text/javascript" src="{{ SYNTAXHIGHLIGHTER_JS_URL }}scripts/shBrushBash.js"></script>
<script type="text/javascript" src="{{ SYNTAXHIGHLIGHTER_JS_URL }}scripts/shBrushCpp.js"></script>
<script type="text/javascript" src="{{ SYNTAXHIGHLIGHTER_JS_URL }}scripts/shBrushCSharp.js"></script>
<script type="text/javascript" src="{{ SYNTAXHIGHLIGHTER_JS_URL }}scripts/shBrushCss.js"></script>
<script type="text/javascript" src="{{ SYNTAXHIGHLIGHTER_JS_URL }}scripts/shBrushDelphi.js"></script>
<script type="text/javascript" src="{{ SYNTAXHIGHLIGHTER_JS_URL }}scripts/shBrushDiff.js"></script>
<script type="text/javascript" src="{{ SYNTAXHIGHLIGHTER_JS_URL }}scripts/shBrushGroovy.js"></script>
<script type="text/javascript" src="{{ SYNTAXHIGHLIGHTER_JS_URL }}scripts/shBrushJava.js"></script>
<script type="text/javascript" src="{{ SYNTAXHIGHLIGHTER_JS_URL }}scripts/shBrushJScript.js"></script>
<script type="text/javascript" src="{{ SYNTAXHIGHLIGHTER_JS_URL }}scripts/shBrushPhp.js"></script>
<script type="text/javascript" src="{{ SYNTAXHIGHLIGHTER_JS_URL }}scripts/shBrushPlain.js"></script>
<script type="text/javascript" src="{{ SYNTAXHIGHLIGHTER_JS_URL }}scripts/shBrushPython.js"></script>
<script type="text/javascript" src="{{ SYNTAXHIGHLIGHTER_JS_URL }}scripts/shBrushRuby.js"></script>
<script type="text/javascript" src="{{ SYNTAXHIGHLIGHTER_JS_URL }}scripts/shBrushScala.js"></script>
<script type="text/javascript" src="{{ SYNTAXHIGHLIGHTER_JS_URL }}scripts/shBrushSql.js"></script>
<script type="text/javascript" src="{{ SYNTAXHIGHLIGHTER_JS_URL }}scripts/shBrushVb.js"></script>
<script type="text/javascript" src="{{ SYNTAXHIGHLIGHTER_JS_URL }}scripts/shBrushXml.js"></script>
<link type="text/css" rel="stylesheet" href="{{ SYNTAXHIGHLIGHTER_JS_URL }}styles/shCore.css"/>
<link type="text/css" rel="stylesheet" href="{{ SYNTAXHIGHLIGHTER_JS_URL }}styles/shThemeDefault.css"/>
<script type="text/javascript">
    SyntaxHighlighter.config.clipboardSwf = '{{ SYNTAXHIGHLIGHTER_JS_URL }}scripts/clipboard.swf';
    SyntaxHighlighter.all();
</script>
